#transition-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

button {
  border-radius: 8px;
  border: none;
  background-color: #2563eb;
  color: white;
  font-size: 18px;
  padding: 16px 24px;
  text-align: center;

}

button:hover {
  /*What I did: padding: 24px 36px;*/
  transform: scale(1.1)
}

/*How to make the button scale up gradually*/
button {
  transition: transform .3s ease-in-out
}